<?php
/**
 * RocketWeb
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category  RocketWeb
 * @package   RocketWeb_GoogleBaseFeedGenerator
 * @copyright Copyright (c) 2012 RocketWeb (http://rocketweb.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author    RocketWeb
 */

/** @var RocketWeb_GoogleBaseFeedGenerator_Block_Adminhtml_Catalog_Taxonomy_Category  $this */
$id = $this->getId();
/** @var RocketWeb_GoogleBaseFeedGenerator_Helper_Data $helper */
$helper = Mage::helper('googlebasefeedgenerator');
$skinUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);
$jsonEncodedValues = $this->getJsonValues();
?>
<div class="category_taxonomy_category" id="div_<?php echo $id; ?>">
    <h4><?php echo $helper->__('Map Product Categories to Taxonomy'); ?></h4>
    <p><?php echo $helper->__('To include products of certain category, check the right checkbox. <br />To fill in the taxonomy start typing and an autocomplete list would let you choose one of the possible taxonomies.'); ?></p>
    <p>
        <a class="expand category_taxonomy_category_all">Expand all</a>
        | <?php echo ($jsonEncodedValues == '[]')
            ?  '<a class="disable category_taxonomy_toggle_all">Disable all</a>'
            : '<a class="enable category_taxonomy_toggle_all">Enable all</a>'; ?>
        <strong id="progr">(<span class="start">0</span> of <span class="end"></span>)</strong>
    </p>
    <input id="taxonomyAggregatedValues" name="config[taxonomy_json]" type="hidden" value="<?php echo $this->escapeHtml($jsonEncodedValues); ?>" />
    <style type="text/css">
        @font-face {
            font-family: 'icon_font';
            src: url('<?php echo $skinUrl; ?>adminhtml/default/default/googlebasefeedgenerator/font/icon_font.eot?81826725');
            src: url('<?php echo $skinUrl; ?>adminhtml/default/default/googlebasefeedgenerator/font/icon_font.eot?81826725#iefix') format('embedded-opentype'),
            url('<?php echo $skinUrl; ?>adminhtml/default/default/googlebasefeedgenerator/font/icon_font.svg?81826725#icon_font') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'icon_font';
            src: url('<?php echo $skinUrl; ?>adminhtml/default/default/googlebasefeedgenerator/font/icon_font.woff') format('woff'),
            url('<?php echo $skinUrl; ?>adminhtml/default/default/googlebasefeedgenerator/font/icon_font.ttf') format('truetype');
        }
    </style>
    <script type="text/javascript">
        Event.observe(window, 'dom:loaded', function () {
            var taxonomy = new taxonomyCategory();
            taxonomy.fieldName = '<?php echo $id; ?>';
            taxonomy.fieldStrings = {
                <?php foreach ($this->getJsStrings() as $key => $value):?>
                <?php echo $key; ?>: '<?php echo $value; ?>',
                <?php endforeach; ?>
            };
            $$('.status').each(function (element) {
                $(element).observe('click', function (e) {
                    taxonomy.toggleSelect(element);
                    element.parentNode.querySelector('.el_disabled').click();
                });
            });
            $$('.carrot').each(function(element){
                $(element).observe('click', function(e) {
                    taxonomy.toggleShow(element);
                });
            });
            $$('.category_taxonomy_category_all').first().observe('click', function(e) {
                taxonomy.toggleShowAll(this);
            });

            $$('.category_taxonomy_toggle_all').first().observe('click', function(e) {
                taxonomy.toggleSelectAll(this);
            });

        <?php if ($this->isTaxonomyEnabled()): ?>
            $$('.category_list .input-text').each(function(el) {
                new AutoComplete(el, '<?php echo $this->getAutocompleteUrl(); ?>?partial=', {
                    delay: 0.25,
                    resultFormat: AutoComplete.Options.RESULT_FORMAT_JSON,
                    onSelect: function(element) {
                        taxonomy.autoFillChildren(element);
                    }
                });
            });
        <?php endif; ?>
        });

        var allTaxonomyData = [];
        var isDirty = false;
        function changeTaxonomy(category, type, element) {
            allTaxonomyData[category][type] = element.value;
            isDirty = true;
        }

        Event.observe(window,'dom:loaded', function () {
            function interceptEditFormSubmitAction() {

                var oldFunction = editForm.submit;

                editForm.submit = function() {
                    if (isDirty) {
                        assignAggregatedTaxonomyValue();
                    }

                    if($$('.scalable.save')[0].classList.contains('loading')){
                        alert('You have a process waiting to be finished. Please wait.');
                        $('form_tabs_googlebasefeedgenerator_categories').click();
                    }else{
                        var childrenWrap = $$('.category_list')[0],
                            parentWrap = childrenWrap.parentElement;
                        $$('.category_list')[0].remove();
                        oldFunction.call(editForm);
                        parentWrap.appendChild(childrenWrap);
                    }

                }
            }

            function assignAggregatedTaxonomyValue() {
                var data = {};
                allTaxonomyData.forEach(function(taxonomyObject, categoryId) {
                    if (taxonomyObject['value'] != '' || taxonomyObject['disabled'] == 1) {
                        data[categoryId] = taxonomyObject;
                    }
                });

                $('taxonomyAggregatedValues').value = JSON.stringify(data);
            }
            interceptEditFormSubmitAction();
            var rowLength = $$('.category_taxonomy_category .status').length;
            $('progr').querySelector('.end').update(rowLength);
        });

    </script>
    <?php echo $this->getTaxonomyMappings(); ?>
</div>
<br />
