<?php
$category = $this->getCategory();
$catNames = $this->getNames(); // Not being used yet
$children = $this->getChildren();
$catId = $category['entity_id'];

/** @var RocketWeb_GoogleBaseFeedGenerator_Block_Adminhtml_Catalog_Taxonomy_Category $parent */
$parent = $this->getParent();
$fieldName = $parent->getId();
$value = $parent->getFieldValues($catId);
$jsStrings = $parent->getJsStrings();
?>

<li id="<?php echo $fieldName; ?>_<?php echo $catId; ?>">
    <div class="category_row">
        <?php if (!empty($children['html'])): ?>
            <span class="icon-carrot-closed carrot"> </span>
        <?php endif; ?>
        <p class="title">
            <?php echo $category['name']; ?> </p>
        <input type="hidden" class="el_disabled"  onclick="changeTaxonomy(<?php echo $catId; ?>, 'disabled', this)"
               value="<?php echo (string)$value['disabled']; ?>"
            />
        <input type="hidden" class="el_category" value="<?php echo $catId; ?>" />
        <input type="text" class="input-text <?php echo $value['disabled'] ? 'disabled' : ''; ?>"
               onblur="changeTaxonomy(<?php echo $catId; ?>, 'value', this)"
               onchange="$('form_tabs_googlebasefeedgenerator_categories').addClassName('changed')"
               value="<?php echo $value['value']; ?>" placeholder="Type at least 3 characters"/>
        <span class="status">
                <?php echo $value['disabled']
                    ? $jsStrings['row_disabled'] : $jsStrings['row_enabled'] ?>
        </span>
    </div>
    <?php echo $children['html']; ?>
    <script type="text/javascript">
        allTaxonomyData[<?php echo $catId; ?>] = {
            category: <?php echo $catId; ?>,
            value: '<?php echo $value['value']; ?>',
            disabled: '<?php echo $value['disabled'] ?>'
        };
    </script>
</li>